body {
  font-family: Arial, Helvetica, sans-serif;
  padding: 2em;
}

input,
button {
  border: 1px solid grey;
  font: inherit;
  color: inherit;
  padding: 1em;
}

form {
  display: flex;
  flex-direction: column;
}

nav {
  display: flex;
  a,
  button {
    color: inherit;
  }
  a {
    margin-right: 2em;
  }
  button {
    padding: 0;
    border: 0;
  }
  form {
  }
}
