<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<form action="/create" method="POST" enctype="multipart/form-data">
  <input type="file" name="file-uploaded">
  <input type="name" name="title">
  <button>Submit Form</button>
</form>